<p-dropdown [options]="chartFilterOptions" [disabled]="loading" (onChange)="fetchFinanceData($event)" [(ngModel)]="selectedChartFilter" optionLabel="label" optionValue="value"></p-dropdown>
<p-dropdown scrollHeight="100vh" [disabled]="loading" (onChange)="fetchFinanceData($event)" [options]="chartIntervalOptions" [(ngModel)]="selectedIntervalOption" optionValue="value">
  <ng-template let-interval pTemplate="item">
    <button [disabled]="interval.disabled">
    {{ interval.label }}
    </button>
  </ng-template>
</p-dropdown>

<canvas baseChart [data]="lineChartData" [options]="barChartOptions" [legend]="true" type="line"></canvas>